server:
  port: 1231

spring:
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driverClassName: org.h2.Driver
    url: jdbc:h2:mem:dawn
    username: sa
    password: 123456
    schema: classpath:db/schema.sql
    data: classpath:db/data.sql
    # driverClassName: com.mysql.jdbc.Driver
    # url: jdbc:mysql://127.0.0.1:3306/dawn?useUnicode=true&characterEncoding=utf8&useSSL=false
    # username: root
    # password: 123456
    # 连接池配置
    druid:
      initial-size: 5
      min-idle: 5
      max-active: 20
      # 连接等待超时时间
      max-wait: 30000
      # 配置检测可以关闭的空闲连接间隔时间
      time-between-eviction-runs-millis: 60000
      # 配置连接在池中的最小生存时间
      min-evictable-idle-time-millis: 300000
      validationQuery: select '1' from dual
      test-while-idle: true
      test-on-borrow: false
      test-on-return: false
      # 打开 PSCache，并且指定每个连接上 PSCache 的大小
      pool-prepared-statements: true
      max-open-prepared-statements: 20
      max-pool-prepared-statement-per-connection-size: 20
      # 配置监控统计拦截的 filters, 去掉后监控界面sql无法统计, 'wall' 用于防火墙
      filters: stat
      # Spring 监控 AOP 切入点，如x.y.z.service.*,配置多个英文逗号分隔
      aop-patterns: com.github.mgzu.dawn.*.service
  h2:
    console:
      enabled: true
      path: /h2-console
mybatis-plus:
  mapper-locations: classpath*:mapper/**/*.xml
  type-aliases-package: com.github.mgzu.dawn.*.entity

dawn:
  log:
    context-name: dawn-admin
    name: dawn
    path: log
